{% extends 'base.html.twig' %}

{% block title %} {{ username }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="background-color: #8959A8">
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
            </div>
            <div class="col-lg-6" style="background-color: #8959A8">
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
            </div>
        </div>
    </div>
    {{ username }}: my new index <br>

    lenght: {{ profile|length }}
    lenght: {{ repos|length }}

    {{ dump(profile) }}
    {{ dump(repos) }}


    'App\\Controller\\ArticleController::recentArticles',

    <div class="col-sm-3">
        {{ render (controller('App\\Controller\\GitHutController::profile', { 'username': username })) }}
    </div>


    <div class="col-sm-9">
        {{ render (controller('App\\Controller\\GitHutController::repos', { 'username': username })) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}