{% extends 'base.html.twig' %}

{% block title %} {{ username }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="background-color: #8959A8">
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
            </div>
            <div class="col-lg-6" style="background-color: #8959A8">
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
                eeeeeeeeeeeeeeeeee uuuuuuuuuuuuuuuuuuuuuuuuuu<br>
            </div>
        </div>
    </div>
    {{ username }}: my new index <br>

    lenght: {{ userdata|length }}
    lenght: {{ userdata2|length }}

    {{ dump(userdata) }}
    {{ dump(userdata2) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}